<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <% if (cart.length> 0) { %>
                <main class="main-table">
                    <table>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>

                        </tr>
                        <% cart.forEach(product=> { %>
                            <tr>
                                <td>
                                    <%= product.productId.title %>
                                </td>
                                <td>
                                    <%= product.quantity %>
                                </td>
                                <td>
                                    <%= product.productId.price %>
                                </td>
                            </tr>
                            <% }); %>
                    </table>
                    <div class="center">
                        <p class="total">Total: $ <%= total%>
                        </p>
                    </div>

                    <div class="centered">
                        <button type="submit" class="btn" id="order-btn">PAY</button>
                        <script src="https://js.stripe.com/v3/"></script>
                        <script>
                            var stripe = Stripe('pk_test_51MM50kLKZYDi7Ve6CeAtVSiklH2h4Q6xjyUiRozcRi7pzPNQqxteGTdwy97fDuZGVJ7ngKrYYV1Sdy9QNg8n204o00VkSnfK1N');
                            const btn = document.getElementById('order-btn');
                            btn.addEventListener('click', function () {
                                stripe.redirectToCheckout({
                                    sessionId: '<%=sessionId%>'
                                })
                            })
                        </script>
                    </div>
                </main>
                <% } else { %>
                    <h1>No Products In Cart.</h1>
                    <% } %>
                        <%- include('../includes/end.ejs') %>